@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Cabin&family=Pompiere&display=swap');

* {
  margin: 0;
  font-family: "Pompiere";
  font-size: 45px;
  background-color: rgb(240, 251, 250);
}

.navbar {
  border-bottom: 1px solid grey;
  padding-right: 45px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 5px;
  max-width: 700px;
  margin: 20px auto;
}

.navbar a {
  text-decoration: none;
  color: rgb(209, 4, 4);
}

.navbar .links {
  display: flex;
  justify-content: space-evenly;
}

.content {
  max-width: 1800px;
  margin: 100px auto;
}

.lista-filmova {
  display: flex;
  justify-content: space-around;
}

.lista-filmova .film {
  text-align: center;
}

.lista-filmova img {
  width: 300px;
  height: 400px;
}

.lista-filmova img:hover {
  transform: scale(1.05);
}

.lista-filmova .film h2 {
  margin-bottom: 10px;
}

.lista-filmova .film h3 {
  margin-top: 5px;
}

.lista-filmova .film button {
  width: 150px;
  margin-top: 15px;
  border-radius: 12px;
  color: red;
}

.lista-filmova .film button:hover {
  background-color: rgb(241, 241, 173);
}